<!DOCTYPE html>
<html ng-app="module.autocomplete">
    <head>
        <title>Angular</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="/main.js"></script>
    </head>
    <body>
        <div ng-controller="Autocompleter as auto">
            <section class="searchBox">
                <input type="text" ng-model="auto.searchTerm" ng-keyup="auto.doSearch()"/>
                <div class="searchDropdown">
                    <ul>
                        <li ng-repeat="data in auto.searchData">
                            <p ng-repeat="attrs in data">
                                {{ attrs.food_name }}
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>
