<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script>
            angular.module('app', [])
                .controller('appController', appController);

            appController.$inject = ["$scope",'$http']

            function appController($scope, $http) {
            }
        </script>
    </head>
    <body>
        <div ng-controller="appController as appTroller">

        </div>
    </body>
</html>
