<!DOCTYPE html>
<html ng-app="angular.playground">
    <head>
        <title>Angular</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="//raw.githubusercontent.com/peachananr/purejs-onepage-scroll/master/onepagescroll.min.js"></script>
        <script src="/main.js"></script>
    </head>
    <body>
        <div ng-controller="PlaygroundController as playground">
            <!-- <input type="checkbox" ng-model="playground.toggle" ng-change="playground.onToggle()"/> -->
            <!-- <form class="form-inline">
                <input type="checkbox" ng-model="playground.toggle"/>
                <input class="form-control" type="text" ng-model="playground.textValue" placeholder="{{ playground.placeholder }}"/>
            </form> -->
            <!-- <form class="form-inline">
                <input class="form-control" type="text" ng-model="playground.zipcode"/>
                <input class="form-control" type="text" ng-model="playground.city"/>
            </form>
            <ul>
                <li ng-repeat="person in playground.people | filter: playground.textValue | orderBy: 'name'">
                    {{ person.name }}
                </li>
            </ul> -->
        </div>
    </body>
</html>
