<!DOCTYPE html>
<html ng-app="app.keymap">
    <head>
        <title>KeyMapp</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="//app.js"></script>
    </head>
    <body>
        <div ng-controller="PlaygroundController as playground">
            <!-- <input type="checkbox" ng-model="playground.toggle" ng-change="playground.onToggle()"/> -->
            <form class="form-inline">
                <input type="checkbox" ng-model="playground.toggle"/>
                <input class="form-control" type="text" ng-model="playground.textValue" placeholder="{{ playground.placeholder }}"/>
            </form>

            <ul>
                <li ng-repeat="person in playground.people | filter: playground.textValue | orderBy: 'name'">
                    {{ person.name }}
                </li>
            </ul>
        </div>
    </body>
</html>
